<ion-header>
  <ion-navbar>
    <ion-title>
      Geo Caching
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="places">
    <ion-item *ngFor="let place of places" (click)="goToPlace(place)">
      <!--<ion-avatar item-start>-->
        <!--<img src="{{ place.image }}">-->
      <!--</ion-avatar>-->
      <h2>{{ place.name }}</h2>
      <h3>{{ place.address }}</h3>
      <p>{{ place.category }}</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom padding>
    <button ion-fab color="light" (click)="goToPlace()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
